@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {margin: 0; padding: 0; text-decoration: none; list-style: none; font-family: 'Noto Sans KR', sans-serif;}
#wrap { width: 1600px; margin: 0 auto; }

header { 
    width: 100%; height: 160px; background: #fff; }
.top { width: 100%; height: 80px; float: left; 
display: flex; align-items: center; justify-content: space-between; }
.top .left { display: flex; align-items: center; grid-column-gap: 50px; padding-left: 150px;}
.top .left li { color: gray;}
.top .left a { color: gray;}
.top .right { display: flex; align-items: center; grid-column-gap: 50px; padding-right: 150px;}
.top .right li { color: gray;}
.top .right a { color: gray;}
nav { width: 100%; height: 80px; float: left;
display: flex; align-items: center; justify-content: center;}
nav ul { display: flex;grid-column-gap: 50px;}
nav li a { color: black; font-size: 18px; font-weight: bold;}

#visual {
    width: 100%; height: 750px; overflow: hidden; position: relative;
}
.text { position: absolute; }
.text:nth-child(1) { 
    width: 1600px; height: 750px; background-size: cover; background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('/선수제공파일/(공통) 선수제공파일/사진/couch-1835923_1920.jpg'); 
    display: flex; justify-content: center; flex-direction: column;
}
.text:nth-child(2) { 
    width: 1600px; height: 750px; background-size: cover; background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('/선수제공파일/(공통) 선수제공파일/사진/furniture-731449_1920.jpg');
    display: flex; justify-content: center; flex-direction: column; margin-top: 750px;
}
.text:nth-child(3) { 
    width: 1600px; height: 750px; background-size: cover; background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('/선수제공파일/(공통) 선수제공파일/사진/interior-3530343_1920.jpg');
    display: flex; justify-content: center; flex-direction: column; margin-top: 1500px;
}
.text h2 { color: white; font-size: 50px; margin-left: 200px;}
.text p { color: white; margin-left: 200px;}

#house { width: 100%; height: 600px; background: skyblue; display: flex; flex-direction: column; align-items: center; }
#house .title {margin-bottom: 30px;}
#house .review {display: flex; align-items: center; justify-content: center; grid-column-gap: 50px;
    width: 70%; height: 400px; background: salmon;
}
.r1 { width: 400px; height: 335px; background: sandybrown; background-image: url('/선수제공파일/A모듈 선수제공파일/housewarming_party/1_before.jpg');}
.r2 { width: 400px; height: 335px; background: sandybrown;}
.r3 { width: 400px; height: 335px; background: sandybrown;}
.r4 { width: 400px; height: 335px; background: sandybrown;}
.more { width: 200px; height: 50px; background: white; display: flex; align-items: center; justify-content: center; border-radius: 20px; margin-top: 30px;  margin-bottom: 30px;}

#specialist {    width: 100%; height: 660px; background: lightgray; }
.title { display: flex; align-items: center; justify-content: center; padding-top: 30px; }
#specialist.review { display: flex; align-items: center; justify-content: center; grid-column-gap: 50px; padding-top: 30px;}
.p1, .p2, .p3, .p4 { 
    width: 400px; height: 450px; background: white; border-radius: 10px;
    display: flex; align-items: center; justify-content: space-between; box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
}
#specialist .pic img { width: 100%; }


#review { width: 100%; height: 500px; background: silver;}
footer { width: 100%; height: 100px; background: darkgrey; display: flex; align-items: center; justify-content: center;}